<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>GCAM {{page.gcam-version}} Documentation: {{page.title}}</title>

    <link rel="stylesheet" href="{{site.github.url}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.github.url}}/stylesheets/github-dark.css">
    <link rel="shortcut icon" href="{{site.github.url}}/images/logo.gif">
    <script src="{{site.github.url}}/javascripts/scale.fix.js"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>GCAM {{page.gcam-version}} Documentation: {{page.title}}</h1>
        <p>Documentation for GCAM<br/>
	  The Global Change Assessment Model</p>
        <p class="view"><a href="https://github.com/JGCRI/gcam-doc">View the Project on GitHub <small>JGCRI/gcam-doc</small></a></p>
        <ul>
          <li><a href="https://github.com/JGCRI/gcam-core/releases">Download<strong>Release</strong></a></li>
          <li><a href="https://github.com/JGCRI/gcam-core">View On <strong>GitHub</strong></a></li>
        </ul>
	<hr/>
	<p class="nav">
	  <a href="{{site.github.url}}/index.html">[Home]</a>
	  {% if page.devguide %}
      <a href="../toc.html">[Table of Contents{% if page.gcam-version %}
	    ({{page.gcam-version}}){% endif %}]</a>
      <a href="../dev-guide.html">[Developer Guide Table of Contents]</a>
	  {% else %}
      <a href="toc.html">[Table of Contents{% if page.gcam-version %}
	    ({{page.gcam-version}}){% endif %}]</a>
	  {% endif %}
	  {% if page.prev %}
	  <a href="{{page.prev}}">[Previous page]</a>
	  {% endif %}
	  {% if page.next %}
	  <a href="{{page.next}}">[Next page]</a>
	  {% endif %}
	</p>
      </header>
      <section>
        <h1>
	  <a id="title" class="anchor" href="#title" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>{{page.title}}</h1>

	{{content}}
      </section>
    </div>

    <footer>
      <p>Project maintained by <a href="https://github.com/JGCRI">JGCRI</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
